.fondo{
  width: 100%;
  filter: blur(5px) ;
  position: absolute;
  z-index: 2;
}

.portadaSinopsis{
  width: 30%;
  padding: 5%;
  position: absolute;
  z-index: 3;
}

.iconoPlay{
  position: absolute;
  z-index: 3;
  color: white;
  padding-left: 100px;
}